
.idea/

*.pdf

*.gexf

*.bak

Python/Testing.py

Python/__pycache__/

Books/

My Paper/

Papers/

Python/density.txt

Python/rho.npy

*.npy

Maple/Diagonalization.mw

Maple/Testing.mw

Maple/Commutators.mw

Presentation/
